asgiref==3.11.1
brotli==1.2.0
cffi==2.0.0
crispy-bootstrap5==2026.3
cssselect2==0.8.0
Django==4.2.30
django-crispy-forms==2.5
django-filter==25.1
djangorestframework==3.16.1
fonttools==4.60.2
pillow==11.3.0
pip==26.1.2
psycopg2-binary==2.9.12
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
python-dotenv==1.2.1
sqlparse==0.5.5
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
